body { background-color: fefefe;}
h1 {
    color:#758E4F;
}
h2 {
    color: #33658A;
}
h3 {color: #5c82d4}
h4 { color: #27bda9 }
a {
    color: #F26419;
}
.czerwono-czarny {
    color: red;
    background: black;
}
.blekitny {
    color: #5c82d4;
}
.yellow {
color: #F6AE2D;
}