
footer { 
  color: azure;
  background-color:#260F26;
  width: 100%;
  height: 100px;
}
body {
  background-color: fefefe;
}
main {
    width: 1000px;
    margin: 0px auto;
}
h1 {
  color: #251F47;
  border: 0.2px solid #7BE0B8;
  padding: 10px;
}
h2 {
  color: #404E7C;
}
h3 {
  color: #5c82d4;
}
h4 {
  color: #07BEB8;
}
  a {
    color: #07BEB8;
  }
.navigation {  
  background-color:#260F26;
  width: 100%;
  height: 100px;
}
.navigation__link{
  color: #251F47;
  background-color: #F5E3E0;
  width: 150px;
  border: 2px solid #251F47;
  padding: 10px;
  margin: 20px;
  box-sizing: border-box;
  display: inline-block;
}
.navigation__link--homepage {
  color: #07BEB8;
  background-color: #F5E3E0;
}
.index-header {
  color: #07BEB8;
  border: 0.2px solid #07BEB8;
  width: 600px;
  padding: 30px;
  margin: 0px auto;
  display: block;
}

.portrait {
  border: 10px solid #251F47;
  margin: 50px auto;
  height: 400px;
  width: 500px;
  display: block;
}
